{% extends 'base.html' %}

{% block form_or_player %}{% endblock %}

{% block segments %}{% endblock %}

{% block main %}
<p>
    This is an application for practicing a foreign language using a variant of the <a href="https://en.wikipedia.org/wiki/Dictogloss">"dictogloss technique</a>.
There are different reasons/approaches with this technique, but I found it incredibly useful for understanding people speaking
in real Swedish. I believe that it is often also used as a means of teaching grammatical constructs as well.
The flow of the application is as follows:
</p>
<ol>
    <li>You add a link to an MP3 file (or pick one of the <a href="{{url_for('downloads')}}">downloads</a>). This is downloaded and split into segments of 30s each </li>
    <li>Play a 30s segment as many times as you like, and try to catch every word that the speaker is saying.</li>
    <li>If you would like to see the answer, click on the "Retrieve" button, and wait for it to download. This retrieves a transcript from Google Speech to Text, which is not 100% accurate, but is generally pretty good - depending on the audio quality.</li>
    <li> Write as many words as you can from the audio into the text box and press submit. Or, click on "view answer" to see the transcript without attempting to get each word down</li>
    <li>Move onto the next segment</li>
</ol>

<p>Good luck!</p>

{% endblock %}