<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dictogloss application</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='styles/bootstrap.min.css')}}">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
			  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

</head>
    <body>
        <div class="container">
            <header>
            <h1>Dictogloss</h1>
                <nav>
                    <a href="{{url_for('index')}}">Home</a> |
                    <a href="{{url_for('about')}}">About Dictogloss</a> |
                    <a href="{{url_for('downloads')}}">Downloads</a>
                </nav>
                {% if current_user.is_authenticated %}
		<p style="text-align:right;">
		Seconds available: <span id="seconds_available"> {{current_user.seconds_available}}</span>
		</p>
                {% endif %}
            </header>


            {% block form_or_player %}
            <p>
                Download an MP3 to practice listening. For example: <a href="https://sverigesradio.se/sommarvinterip1" target="_blank">Sommar & Vinter i P1</a>
            </p>
            <div id="form" class="col">
                <form action="/" method="post" id="new_form">
                    <div class="form-group row">
                        <label for="url" class="col-sm-2 col-form-label">MP3 location</label>
                        <input type="text" name="url" id="url" value="" placeholder="Place a URL to an MP3 file here..." />
                    </div>
                    <div class="form-group row">
                        <label for="pretty_name" class="col-sm-2 col-form-label">Pretty name</label>
                        <input type="text" name="pretty_name" id="pretty_name" value="" placeholder="Add a pretty name here" />
                    </div>
                    <div class="form-group row">
                        <label for="segment_length" class="col-sm-2 col-form-label">Segment length</label>
                        <input type="text" name="segment_length" id="segment_length" placeholder="30" />
                        <input type="submit" value="Submit" id="new_file"
                               style="margin-right: 10px;"

                        />
                        <div class="spinner-border" id="spinner" style="display: none;" role="status">
                          <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                </form>
            </div>

            {% endblock %}
            <br class="clear" />

            <div id="main" class="col-sm-12" style=" float:right">
                {% block segments %} {% endblock %}
                {% block main %} {% endblock %}
            </div>
        </div>
        <br style="clear: both;" />

        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script src="{{ url_for('static', filename='scripts/scripts.js')}}"></script>
    </body>
</html>
