{% extends 'base.html' %}

{% block form_or_player %}
<p>
    Play the file as many times as you like, and try to catch each word.
</p>
<audio controls style="float:left">
    <source src="{{ url_for('static', filename=filename)}}" type="audio/mpeg">
    Your browser does not support the audio element.
</audio>
<div class="form-group col-sm-4" style="float:right;">
<label for="formControlRange">Speed of play</label> <span id="playerSpeed"></span>
<input type="range" min="0" max="2" step="0.1" value="1.0"  class="form-control-range" id="formControlRange">
    <p id="output"></p>
</div>
<br style="clear:both;" />
{% endblock %}
{% block segments %}

<div id="segments" class="col-sm-2 overflow-auto" style="float: left; max-height:480px; overflow-scrolling: auto">
    <ul style="padding-left: 0;">
        {% for f in obj.segments|sort(attribute='position') %}
        <li style="list-style-type: none">
            <a href="{{ url_for('play_file', file_id=file_id, position=f.position) }}">
                {% if f.position == position %}
                <span class="font-weight-bold">Part {{f.position}}</span>
                {% else %}
                Part {{f.position}}
                {% endif %}
                </a></li>
        {% endfor %}
    </ul>
</div>
{% endblock %}


{% block main %}
{% if obj.pretty_name %}
<h2>{{obj.pretty_name}} part {{position}}</h2>
{% endif %}

{% block retrieve %}
{% if segment.transcript is none %}
<div>
    <p>There is no solution available for this segment. <button data-file_id="{{file_id}}" data-position="{{position}}" id="retrieve">Retrieve one</button></p>
    <div class="spinner-border" id="spinner" style="display: none;" role="status">
      <span class="sr-only">Loading...</span>
    </div>
</div>
{% endif %}
{% endblock %}

<div id="exercise_container">
    <h3>Exercise</h3>
    <p>
        As you listen to the file, write what you hear in the box below:
        {% if segment.transcript %}
        <span class="float-right"> <a href="{{ url_for('solution', file_id=file_id, position=position) }}">View answer</a></span>
        {% endif %}
    </p>

    <div id="exercise" contenteditable="true" class="col-sm-10 float-right" style="border: solid black 2px; min-height: 200px;"></div>

    <div class="col-sm-10 float-left p-0">
        <form id="form_solution" action="{{url_for('solution', file_id=file_id, position=position)}}" method="post">
            <input type="hidden" name="student_answer" id="student_answer" value="" />
            <input type="submit" {% if segment.transcript is none %}disabled{% endif %} class="input-group" value="Submit answer" />

        </form>

        <div id="nextPrev">
            {% if position > 1 %}
            <span class="float-left"><a href="{{url_for('play_file', file_id=file_id, position=position-1)}}">Prev</a></span>
            {% endif %}
            {% if position < obj.segments|length %}
            <span class="float-right"><a href="{{url_for('play_file', file_id=file_id, position=position+1)}}">Next</a></span>
            {% endif %}
        </div>
    </div>

</div>
{% endblock %}
